<html>

<head>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">

		<script type="text/javascript">
			// For IE 7 and 8
			document.createElement("article");
			document.createElement("header");
			document.createElement("footer");
			document.createElement("figure");
			document.createElement("section");
			document.createElement("figcaption");
			document.createElement("nav");
		</script>
		<meta name="viewport" content="width=device-width,initial-scale,user-scale=no,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" type="text/css" href="responsive.css">
		<script src="jquery.js"></script>
		<script src="responsive.js"></script>
</head>

<body>
	<div class="line"> </div>
	<div id="wrapper">

		<header>
			
			<section id="topdata">
				<span class="spandata"> Cash on Delivery </span>
				<span class="spandata spanmiddle"> 15 Days - Return</span>
				<span class="spandata spanlast"> Customer Support - + 91 9826657630</span>
			</section>
		
			<figure id="logo">
				<img src="images/logo.png" />
			</figure>
		</header>


		<nav id="menu">
			<ul>
				<li id="headmenu"><a>Menu</a></li>
				<li><a href="">home</a></li>
				<li><a href="">abour us</a></li>
				<li><a href="">contact us</a></li>
				<li><a href="">services</a></li>
			</ul>

		</nav>
		<div id="menuslider"></div>
		<nav id="slidemenu">
			<ul>
				<li><a href="">home</a></li>
				<li><a href="">abour us</a></li>
				<li><a href="">contact us</a></li>
				<li><a href="">services</a></li>
			</ul>

		</nav>
		<div id="leftcurtain" class="curtain"></div>
	    <div id="rightcurtain" class="curtain"></div>
	    <div id="circle"></div>
	

		<figure id="banner">
			<img src="images/image1.jpg" class="record">
			<img src="images/image2.jpg" class="record">
        	<img src="images/image3.jpg" class="record">
        	<img src="images/image4.jpg" class="record">
        	 	<div class="circle"></div>
		        <div class="circle"></div>
		        <div class="circle"></div>
		        <div class="circle"></div>
		        
		</figure>

		<section id="cotent">
			<article class="articledata">
				<figure class="articleimg">
					<img src="images/pro3.jpg" />
					<figcaption class="figuredata">
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
					</figcaption>
				</figure>
			</article>

			<article class="articledata articlemiddle">
				<figure class="articleimg">
					<img src="images/pro3.jpg" />
					<figcaption class="figuredata">
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
					</figcaption>
				</figure>
			</article>

			<article class="articledata articleright">
				<figure class="articleimg">
					<img src="images/pro3.jpg" />
					<figcaption class="figuredata">
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
						Text will come here, Text will come here, 
					</figcaption>
				</figure>
			</article>

			<div class="fix"></div>
		</section>
	</div>

	<div class="line"> </div>
	
	<footer>
		<div id="footerdata">

			<section class="fdata">
				<h2>Support Team</h2>

				<nav class="bottommenu">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

			</section>
			<section class="fdata fmiddle">
				<h2>Support Team</h2>

				<nav class="bottommenu">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

			</section>
			<section class="fdata fmiddle">
				<h2>Support Team</h2>

				<nav class="bottommenu">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

			</section>
			<section class="fdata fmiddle">
				<h2>Support Team</h2>

				<nav class="bottommenu">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

			</section>
			<section class="fdata fmiddle">
				<h2>Support Team</h2>

				<nav class="bottommenu">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

			</section>
			<section class="fdata fright">
				<h2>Support Team</h2>

				<nav class="bottommenu">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</nav>

			</section>

		</div>
	</footer>
	
</body>