*
{
	padding: 0;
	margin: 0;
}
#wrapper
{
	border: 1px solid black;
	width: 960px;
	height: 1000px;
	margin: 0 auto;
}
#header ,#menu, #content
{
	border: 1px solid black;

}
#header 
{   border: 1px solid black;
	border-radius: 15px;
	height: 12%;
	background: url(images/header.jpg);
	color: white;
	text-align: center;
	padding-top: 70px;
	font-size: 60px;
	padding-left: 190px;

		
	}
